##############
# Python 
###############


*.pyc
**/__pycache__/*

#############
# OS
############
**/.DS_Store
**/.metadata/*
**/.recommenders/*
**/.DS_Store.orig
**/.idea/*

# SSH keys
keys/*

##########
# Datasets
##########
data/*
data_old/*

# Parsed embeddings contained in .pkl files
embeddings_index/*

# Unparsed embeddings. E.g. glove .txt file
embeddings_native/* 


# Test and fiddle python file
fiddle.py


# MG aws key
key_apr17.pem

# To be removed
char-models-offbit/*