##############
# Python 
###############


*.pyc
**/__pycache__/*

#############
# OS
############
**/.DS_Store
**/.metadata/*
**/.recommenders/*
**/.DS_Store.orig
**/.idea/*


char-models-offbit/labeledTrainData.tsv
data/*


# Test and fiddle python file
fiddle.py
